<section>

<h1>Details of Post</h1>

<%post = @post%>
<%user = @user%>

<div class="post-container">
    <p>Post #<%=post.id%> by <%=user.name%>: <%=post.title%></p>
    <div class="post-comments-likes">
      <p>Comments: <%= post.comments_counter || 0%>, Likes: <%= post.likes_counter ||0%></p>
    </div>
    <p><%=post.text%></p>
</div>

<div>
  <p><%= link_to "Create new comment", "./#{post.id}/comments/new" %></p>
</div>

<div>
  <%= form_with url: "./#{@post.id}/likes", scope: :like do |form| %>
    <%= form.submit "Like "%>
  <% end %>
</div>

<div class="comments-container">
  <% Comment.where(post_id:post.id).each do |comment| %>
    <div class="comment-container">
      <%author = User.find_by(id: comment.author_id)%>
      <p><%=author.name%>: <%=comment.text[0..100]%>...</p>
    </div>
  <% end %>
</div>

<a href="../../">home </a>

</section>